/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 /**.hidden_service_selection { display: none; }
 
 .shown_service_selection { display: initial; }
 
 .hidden_user_selection { display: none; }
 
 .shown_user_selection { display: initial; }
 */

 .hidden { display: none; }
 
button:disabled {
    background-color: grey
}

.button_takeover_schedule,
.button_handover_schedule,
.button_assign_schedule,
.button_swap_schedule
{
	display: inline-block;
    /**display: inline-table;**/
	margin-bottom: 2px;
	width: 40%;
}

.ok_button,
.abort_button
 {
	display: inline-block;
    /**display: inline-table;**/
	margin-bottom: 0px;
	width: 40%;
}
